<a href="casa.component.html">
  <button>​​​Regresar</button>
</a>
<div class="card-container">

  <p-card header="Bugatti Chiron Super Sport 300+" 
    subheader="Motor: W16 quad-turbo de 8.0 litros." 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: 'Bugatti' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://hips.hearstapps.com/hmg-prod/images/02-ss300p-3i4-front-1567937037.jpg?crop=1xw:1xh;center,top&resize=980:*" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Potencia: 1,600 hp.
      Velocidad Máxima: 490 km/h (limitada electrónicamente).
      Aceleración 0-100 km/h: 2.4 segundos.
      Precio Aproximado: $3.9 millones.
      Característica Destacada: Récord de velocidad, diseño aerodinámico avanzado.
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button label="Más Información" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
          </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Ferrari SF90 Stradale" 
    subheader="Motor: V8 biturbo híbrido de 4.0 litros + 3 motores eléctricos." 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://cdn.ferrari.com/cms/network/media/img/resize/5d3ed2422bd55f6d5144f199-01_fb_ppl_intro-sf90?width=1080" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">Potencia Total: 1,000 hp.
      Velocidad Máxima: 340 km/h.
      Aceleración 0-100 km/h: 2.5 segundos.
      Precio Aproximado: $625,000.
      Característica Destacada: Híbrido enchufable con tracción en las cuatro ruedas</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="Más Información" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Porsche 911 Turbo S (2024)" 
    subheader="Motor: Bóxer 6 cilindros biturbo de 3.8 litros" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://www.exclusiveautomotivegroup.com/imagetag/3771/main/l/Used-2024-Porsche-911-Turbo-S-1695057570.jpg" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">Potencia: 650 hp.
      Velocidad Máxima: 330 km/h.
      Aceleración 0-100 km/h: 2.6 segundos.
      Precio Aproximado: $225,000.
      Característica Destacada: Equilibrio entre lujo y rendimiento.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="Más Información" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Lamborghini Aventador LP780-4 Ultimae" 
    subheader="Motor: V12 atmosférico de 6.5 litros." 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://cdn.motor1.com/images/mgl/4JyZA/s1/lamborghini-aventador-lp-780-4-ultimae.webp" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">Potencia: 780 hp.
      Velocidad Máxima: 355 km/h.
      Aceleración 0-100 km/h: 2.8 segundos.
      Precio Aproximado: $500,000.
      Característica Destacada: Último modelo con motor V12 puro.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="Más Información" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="McLaren P1" 
    subheader="Motor: V8 biturbo de 3.8 litros + motor eléctrico" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: 'Salmon' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_ede8f5955d27415abddca8103e9f7574.jpg" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">Potencia Total: 903 hp.
      Velocidad Máxima: 350 km/h.
      Aceleración 0-100 km/h: 2.8 segundos.
      Precio Aproximado: $1.2 millones.
      Característica Destacada: Híbrido enfocado en pista.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="Más Información" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Koenigsegg Jesko Absolut" 
    subheader="Motor: V8 biturbo de 5.0 litros." 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://www.gamereactor.eu/media/96/koenigseggbelievesjesko_4289633.jpg" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">Potencia: 1,600 hp (con E85).
      Velocidad Máxima: Más de 500 km/h (teórica).
      Aceleración 0-100 km/h: 2.5 segundos.
      Precio Aproximado: $3 millones.
      Característica Destacada: Diseño para máxima velocidad.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="Más Información" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Chevrolet Corvette Z06 (C8)" 
    subheader="Motor: V8 atmosférico de 5.5 litros." 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2025/performance/corvette-z06/mov/01-images/2025-z06-z07-01.png?imwidth=960" />
    </ng-template>
    <p style="color: rgb(10, 10, 10);">Potencia: 670 hp.
      Velocidad Máxima: 312 km/h.
      Aceleración 0-100 km/h: 2.6 segundos.
      Precio Aproximado: $115,000.
      Característica Destacada: Relación precio-desempeño sobresaliente</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="Más Información" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Nissan GT-R Nismo" 
    subheader="Motor: V6 biturbo de 3.8 litros." 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://cdn.motor1.com/images/mgl/Bbg6A/s1/2018-nissan-gt-r-nismo-gt3.jpg" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">Potencia: 600 hp.
      Velocidad Máxima: 330 km/h.
      Aceleración 0-100 km/h: 2.9 segundos.
      Precio Aproximado: $220,000.
      Característica Destacada: Rendimiento legendario con tracción integral.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="Más Información" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

</div>
